
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5a5757; 
  padding: 10px 20px;
}

.categories {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.category {
  margin-right: 20px;
}

.text-link {
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.text-link:hover {
  color: #2ECC71; 
}


.brand {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #FFF;
}

.icon-brand {
  font-size: 2rem;
  color: #FFF;
  margin-right: 10px;
}

.title-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.cartwidget {
  position: relative;
  color: #FFF;
  text-decoration: none;
}

.icon-cartwidget,
.empty-cartwidget {
  font-size: 1.8rem;
  color: #FFF;
}


.number-cartwidget {
  position: absolute;
  top: -8px;
  right: -10px;
  background-color: #7dbb71;
  color: #FFF;
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 0.8rem;
  font-weight: bold;
}
